<mat-toolbar color="primary">
  <span>Ifrit - Mensalidades</span>
  <div *ngIf="showToolbar" class="menu">
    <button mat-button>Mensalidades</button>
    <button mat-button>Faturas</button>
    <button mat-button>Clientes</button>
    <button mat-button routerLink="empresas">Empresas</button>
    <button mat-button routerLink="usuarios">Usuários</button>
    <button mat-button routerLink="cidades">Cidades</button>
    <button mat-button (click)="logout()">Logout</button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
