.conteudo {
  max-height: 80vh; /* Altura máxima para ajustar à viewport */
  padding: 20px;
  margin: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.filter {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px; /* Espaçamento entre o campo de filtro e o botão */
}

.filter-input {
  flex: 1; /* Faz o campo de entrada ocupar o máximo possível da largura */
}

.filter-button {
  border-radius: 4px;
  margin-bottom: 10px;
}

.ibge-button {
  border-radius: 4px;
  margin-top: 10px;
  width: 15%;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.table-container {
  flex: 1;
  overflow-y: auto;
  max-height: calc(100% - 56px); /* Deixa espaço para o paginador */
}

.mat-table {
  width: 100%;
  min-width: 600px;
}

/* Ajustando a altura das linhas da tabela para metade do tamanho original */
.mat-header-row, .mat-row {
  height: 32px; /* Ajuste para metade da altura padrão */
}

.mat-header-cell, .mat-cell {
  padding: 4px 8px; /* Ajuste de padding para diminuir a altura */
  font-size: 14px; /* Ajuste no tamanho da fonte */
  line-height: 1.5; /* Ajuste de altura da linha para espaçamento confortável */
  border-bottom: 1px solid #e0e0e0; /* Borda para separação das células */
}

/* Ajustando a altura das células */
.mat-header-cell {
  font-weight: bold;
}

/* Paginador fixado abaixo da tabela */
.paginator {
  align-self: flex-end;
  margin-top: 8px;
}

/* Cores alternadas para as linhas da tabela */
.mat-row:nth-child(odd) {
  background-color: #f9f9f9;
}

.mat-row:nth-child(even) {
  background-color: #ffffff;
}

.mat-row:hover {
  background-color: #e0f7fa;
}

/* Estilos do overlay */
.loading-overlay {
  position: fixed;  /* Fica fixo na tela */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);  /* Fundo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;  /* Garante que fique acima de outros elementos */
}

/* Estilos do spinner */
mat-progress-spinner {
  width: 100px;
  height: 100px;
}


/* Responsividade para telas menores */
@media (max-width: 768px) {
  .conteudo {
    padding: 10px;
    margin: 10px;
  }

  .table-container {
    max-height: 50vh;
  }

  .mat-header-cell, .mat-cell {
    font-size: 12px;
    padding: 4px;
  }
}
