<div class="conteudo">
  <!-- Campo de filtro acima da tabela -->
  <div class="filter">
    <mat-form-field class="filter-input">
      <mat-label>Filtro</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Digite para filtrar"
        #input
      />
    </mat-form-field>

    <button
      mat-fab
      extended
      color="primary"
      class="filter-button"
      (click)="consultar()"
    >
      <mat-icon>search</mat-icon>
      Filtrar
    </button>

    <div class="add-button">
      <button mat-fab color="primary" (click)="openDialog()" aria-label="Novo">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <!-- Contêiner da tabela e do paginador -->
  <div class="table-wrapper mat-elevation-z8">
    <!-- Contêiner de rolagem da tabela -->
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Coluna Nome Fantasia -->
        <ng-container matColumnDef="nomeFantasia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome Fantasia</th>
          <td mat-cell *matCellDef="let row">{{ row.nomeFantasia }}</td>
        </ng-container>

        <!-- Coluna responsavel -->
        <ng-container matColumnDef="responsavel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Responsável</th>
          <td mat-cell *matCellDef="let row">{{ row.responsavel }}</td>
        </ng-container>

        <!-- Coluna cidade -->
        <ng-container matColumnDef="cidade">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cidade</th>
          <td mat-cell *matCellDef="let row">{{ row.endereco.cidade.nome }}</td>
        </ng-container>

        <!-- Coluna telefone -->
        <ng-container matColumnDef="telefone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefone</th>
          <td mat-cell *matCellDef="let row">{{ row.contato.telefone  | telefone}}</td>
        </ng-container>

        <!-- Coluna celular -->
        <ng-container matColumnDef="celular">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Celular</th>
          <td mat-cell *matCellDef="let row">{{ row.contato.celular | telefone}}</td>
        </ng-container>

        <!-- Cabeçalho da tabela -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <!-- Linhas da tabela -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Linha exibida quando não há dados correspondentes -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            Nenhum registro encontrado com o filtro "{{ input.value }}"
          </td>
        </tr>
      </table>
    </div>

    <mat-paginator
      [length]="totalElements"
      [pageSize]="pageSize"
      [pageSizeOptions]="[10, 25, 50]"
      showFirstLastButtons
      [pageIndex]="pageIndex"
      aria-label="Select page"
      (page)="onPageChange($event)"
      class="paginator"
    >
    </mat-paginator>
  </div>

  <div *ngIf="isLoading" class="loading-overlay">
    <mat-progress-spinner
      mode="indeterminate"
      color="primary"
    ></mat-progress-spinner>
  </div>
</div>
