.conteudo{
  padding: 10px;
  max-height: 90vh;
}

table {
  max-width: 100%;
}

.mat-mdc-table tbody, .mat-mdc-table tfoot, .mat-mdc-table thead, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell {
  height: 25px;
  background: inherit;
}
