@use '@angular/material' as mat;

@include mat.core();

:root {
  --primary-red: #f44336;
  --secondary-white: #ffffff;

}

$my-primary: mat.define-palette(mat.$red-palette, 700);
$my-accent: mat.define-palette(mat.$blue-gray-palette, 900);
$my-warning: mat.define-palette(mat.$yellow-palette, 500);


$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warning: $my-warning,
 ),
 typography: mat.define-typography-config(
    $font-family: Roboto,
  ),
));

@include mat.all-component-themes($my-theme);

body {margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
